<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="navbar__li"><a href="/"> Homepage</a></li>
            <li class="navbar__li"><a href="/our-work"> Discography</a></li>
            <li class="navbar__li"><a href="/gallery"> Photo gallery</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="intro--img">
            </div>
            <div class="intro">
                <h1>About Coldplay</h1>
                <p>Coldplay are a British rock band formed in London in 1996. Vocalist, rhythm guitarist and 
                pianist Chris Martin, lead guitarist Jonny Buckland, bassist Guy Berryman, and drummer Will 
                Champion met at University College London and began playing music together from 1996 to 1998, 
                first calling themselves Pectoralz and then Starfish before finally changing their name to 
                Coldplay.Their creative director and former manager Phil Harvey is the fifth member of the band.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>© Information taken from Wikipedia, images from Unsplash.</p>
    </footer>  
</body>
</html>