<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="navbar__li"><a href="/"> Homepage</a></li>
            <li class="navbar__li"><a href="/about-us"> About the band</a></li>
            <li class="navbar__li"><a href="/gallery"> Photo gallery</a></li>
        </ul>
    </nav>
    <main>
        <h1>Our Greates Hits</h1>
        <p>Don't miss them out, listen to them here</p>
    </main>
    <footer>
        <p>© Information taken from Wikipedia, images from Unsplash.</p>
    </footer>  
</body>
</html>