<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="navbar__li"><a href="/"> Homepage</a></li>
            <li class="navbar__li"><a href="/about-us"> About the band</a></li>
            <li class="navbar__li"><a href="/gallery"> Photo gallery</a></li>
        </ul>
    </nav>
    <main class="works-background">
        <div class="intro">
            <h1>Our Greates Albums</h1>
            <p>Don't miss them out, listen to them here</p>
        </div>
        <div class="top-links">
            <div class="cols">
                <div class="col--img">
                  <img src="/img/rush-of-blood-album-cover.jpg" alt="Rush of Blood Cover Album" style="width:20vw; height: 40vh;">
                  <h3>Rush of Blood</h3>
                </div>
                <div class="col--img">
                  <img src="/img/mylo-kyoto-albu-cover.jpg" alt="Mylo Xyloto Cover Album"  style="width:20vw; height: 40vh;">
                  <h3>Mylo Xyloto</h3>
                </div>
                <div class="col--img">
                  <img src="/img/parachutes-album-cover.jpg" alt="Parachutes Cover Album"  style="width:20vw; height: 40vh;">
                  <h3>Parachutes</h3>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© Information taken from Wikipedia, images from Unsplash.</p>
    </footer>  
</body>
</html>